<div id="sidebar" style="grid-column-start: 3">
  <div>Follow Popular Users</div>  <br>
  <div style="align-self: flex-start">
    <ul>
      <% User.popular.each do |user| %>
        <li>
          <%= link_to "#{user.email}", user_path(user.id) %>
          <%= render 'users/follow_buttons', user: user%>
        </li>
      <% end %>
    </ul>
  </div>
</div>